$color-text: #20221f;
$color-link: #000;
$color-bg: #E6D995;
$color-bg-preview: #131312;
$color-bg-overlay: #131312;
$color-text-inverted: #b3ac99;
$color-text-preview: #b3ac99;
$color-title-preview: #923538;
$page-padding: 1rem 2rem;
$preview-padding: 0 2rem 1rem;
